*{
    margin: 0;
    padding: 0;

}
body{
    background: white;
    font-family: sans-serif;
}
/* .contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
h2{
    text-decoration: underline;
    text-align: center;
    opacity: 0.8;
    text-size-adjust: 14px;
}
form{
    margin: 35px;


}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}
.btn{
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
    float: center;
    outline: none;


} */
.btn {
    display: inline-block;
    color: rgb(5, 5, 5);
    font-family: 'Roboto', sans-serif;
    background-color: #4CAF50;
    margin: .5vh;
    padding: .5vh;
    border-radius: 150px;
    outline: none;
    width: 90%;
    box-shadow: 0 0.5vh #999;
    cursor: pointer;
}

.btn:hover {
    background-color: #007bff;
    color: rgb(255, 255, 255);
}

.btn:active {
    transform: translateY(4px);
}

/* table tbody tr td a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: relative;
} */

/* table tbody tr td a:hover {
    color: rgb(141, 137, 137);
} */


/* notice */

.notice-bg {
    background-image: url(img/Aanbalup.jpg);
    background-color: #ffffff;
    /* Used if the image is unavailable */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}


/* time table */

.time-table-box-main {
    margin: 10px;
    background-color: white;
}

iframe {
    height: 90vh;
    width: 100%;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }

  .space {
    height: 500px;
  }

  .one {

    padding: 2cm;
    border: 2px solid black;
    border-spacing: 2cm;
  }

  h1 {
    text-align: center;
  }


  #myInput {
    background-image: url(/img/search.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;

  }

  #myTable {
    
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(22, 22, 22);
    font-family: 'Roboto', sans-serif;
    
  }

  #myTable th,
  #myTable td {
    text-align: left;
    border-color: black;
    font-size: 2.5vh;
  }

  #myTable tr {
    border-bottom: 1px solid #ddd;
     
  }
 .view-code{
     text-align: center;
 }
   
  .sectionthree{
border: 2px solid black;
padding: 2.4vh;
  }
  
 button{
     display: block;
     
 }
 .button {
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5vh;
    padding: 2.8vh;
    width: 35vh;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2vh;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .center{
    display: block;
    margin: auto;
  }