*{
    margin: 0;
    padding: 0;

}
body{
    background: white;
    font-family: sans-serif;
}
.contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
h2{
    text-decoration: underline;
    text-align: center;
    opacity: 0.8;
    text-size-adjust: 14px;
}
form{
    margin: 35px;


}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}
.btn{
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
    float: center;
    outline: none;


}